<div class="container">
    <div [formGroup]="form" class="row">

        <div class="row text-center">
            <div class="col-12">
                <h1>Charlie's International Recipe Book</h1>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-12">
                <h1>Ingredients</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul *ngFor="let ingredient of ingredients">
                    <li> {{ ingredient.id }} </li>
                    <li> {{ ingredient.ingredient_name }} </li>
                    <li> {{ ingredient.ingredient_details }} </li>
                    <li> {{ ingredient.ingredient_price }} </li>
                    <li> {{ ingredient.location }} </li>
                </ul>
            </div>
        </div>
    </div>
</div>