<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <form [formGroup]="fgCountry" (ngSubmit)="submitCountry()">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-center">Edit Country</th>
                                <th colspan="2" class="text-center">
                                    <input type="text" name="idC" id="idC" [(ngModel)]="idC"
                                    [ngModelOptions]="{standalone: true}">
                                    <button *ngIf="!idC" disabled>Check</button>
                                    <button *ngIf="idC" type="button" (click)="checkCountry(idC)">Check</button>
                                </th>
                            </tr>
                            <tr>
                                <th rowspan="3">
                                    Old Data:
                                </th>
                                <th>
                                    Country name:
                                </th>
                                <th>
                                    {{cName}}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Country likeness:
                                </th>
                                <th>
                                    {{cLike}}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Location:
                                </th>
                                <th>
                                    {{cLoc}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="3">
                                    New Data:
                                </td>
                                <td>
                                    Country name:
                                </td>
                                <td>
                                    <input type="text" formControlName="name" class="form-control text-center" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Country likeness:
                                </td>
                                <td>
                                    <input type="text" formControlName="cl" class="form-control text-center" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Location:
                                </td>
                                <td>
                                    <input type="text" formControlName="loc" class="form-control text-center" required>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="">
                                    <button [disabled]="!fgCountry.valid" *ngIf="!submittedC" class="">Submit</button>
                                    <button disabled *ngIf="submittedC" class="">Edit Submitted</button>
                                </td>
                                <td colspan="2">
                                    <a routerLink="/read" role="button" *ngIf="!submittedC" class="cancel">Cancel</a>
                                    <a routerLink="/read" role="button" *ngIf="submittedC" class="cancel">Return</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <form [formGroup]="fgFood" (ngSubmit)="submitFood()">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-center">Edit Food</th>
                                <th colspan="2" class="text-center">
                                    <input type="text" name="idF" id="idF" [(ngModel)]="idF"
                                    [ngModelOptions]="{standalone: true}">
                                    <button *ngIf="!idF" disabled>Check</button>
                                    <button *ngIf="idF" type="button" (click)="checkFood(idF)">Check</button>
                                </th>
                            </tr>
                            <tr>
                                <th rowspan="4">
                                    Old Data:
                                </th>
                                <th>
                                    Food name:
                                </th>
                                <th>
                                    {{fName}}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Food Price:
                                </th>
                                <th>
                                    {{fPrice}}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Ingredient name:
                                </th>
                                <th>
                                    {{fIN}}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Location:
                                </th>
                                <th>
                                    {{fLoc}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="4">
                                    New Data:
                                </td>
                                <td>
                                    Food name:
                                </td>
                                <td>
                                    <input type="text" formControlName="name" class="form-control text-center" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Food Price:
                                </td>
                                <td>
                                    <input type="text" formControlName="price" class="form-control text-center" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ingredient name:
                                </td>
                                <td>
                                    <input type="text" formControlName="iname" class="form-control text-center" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Location:
                                </td>
                                <td>
                                    <input type="text" formControlName="loc" class="form-control text-center" required>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="">
                                    <button [disabled]="!fgFood.valid" *ngIf="!submittedF" class="submit">Submit</button>
                                    <button disabled *ngIf="submittedF" class="submit">Edit Submitted</button>
                                </td>
                                <td colspan="2">
                                    <a routerLink="/read" role="button" *ngIf="!submittedF" class="cancel">Cancel</a>
                                    <a routerLink="/read" role="button" *ngIf="submittedF" class="cancel">Return</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <form [formGroup]="fgIng" (ngSubmit)="submitIng()">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-center">Edit Ingredient</th>
                                <th colspan="2" class="text-center">
                                    <input type="text" name="idI" id="idI" [(ngModel)]="idI"
                                    [ngModelOptions]="{standalone: true}">
                                    <button *ngIf="!idI" disabled>Check</button>
                                    <button *ngIf="idI" type="button" (click)="checkIng(idI)">Check</button>
                                </th>
                            </tr>
                            <tr>
                                <th rowspan="4">
                                    Old Data:
                                </th>
                                <th>
                                    Ingredient name:
                                </th>
                                <th>
                                    {{iName}}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Ingredient Price:
                                </th>
                                <th>
                                    {{iPrice}}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Ingredient details:
                                </th>
                                <th>
                                    {{iDeet}}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Location:
                                </th>
                                <th>
                                    {{iLoc}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="4">
                                    New Data:
                                </td>
                                <td>
                                    Ingredient name:
                                </td>
                                <td>
                                    <input type="text" formControlName="name" class="form-control text-center" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ingredient Price:
                                </td>
                                <td>
                                    <input type="text" formControlName="price" class="form-control text-center" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ingredient details:
                                </td>
                                <td>
                                    <input type="text" formControlName="ingdet" class="form-control text-center" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Location:
                                </td>
                                <td>
                                    <input type="text" formControlName="loc" class="form-control text-center" required>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="">
                                    <button [disabled]="!fgIng.valid" *ngIf="!submittedI" class="">Submit</button>
                                    <button disabled *ngIf="submittedI" class="">Edit Submitted</button>
                                </td>
                                <td colspan="2">
                                    <a routerLink="/read" role="button" *ngIf="!submittedI" class="cancel">Cancel</a>
                                    <a routerLink="/read" role="button" *ngIf="submittedI" class="cancel">Return</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>