<div class="container">
    <table border="1">
        <tr>
            <th>
                Country
            </th>
            <th>
                Food
            </th>
            <th>
                Ingredient
            </th>
        </tr>
        <tr *ngFor="let food of foods">
            
        </tr>
    </table>
</div>