<!-- temp navbar -->
<nav>
    <a routerLink="/read">read</a> &nbsp; <a routerLink="/create">add</a> &nbsp; <a routerLink="/edit">edit</a> &nbsp; <a routerLink="/delete">delete</a> &nbsp; 
</nav>

<router-outlet></router-outlet>