<div class="container">   

<table class="table table-bordered text-center ">
    <thead>
        <tr>
            <th>
                Country<br>
                <input type="text" [(ngModel)]="idC" class="" (change)="countryChanged()">
                <button *ngIf="idC > 0" (click)="checkCountry()">Check</button>
                <button *ngIf="idC <= 0 || idC == null" disabled>Check</button>
            </th>
            <th>
                Food<br>
                <input type="number" [(ngModel)]="idF" class="" (change)="foodChanged()">
                <button *ngIf="idF > 0" (click)="checkFood()">Check</button>
                <button *ngIf="idF <= 0 || idF == null" disabled>Check</button>
            </th>
            <th>
                Ingredient<br>
                <input type="number" [(ngModel)]="idI" class="" (change)="ingChanced()">
                <button *ngIf="idI > 0" (click)="checkIng()">Check</button>
                <button *ngIf="idI <= 0 || idI == null" disabled>Check</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td *ngIf="booleanC">
                <span *ngIf="cName != 'Error: ID is invalid'">Country Name:</span> {{cName}}<br>
                <span *ngIf="cLike != 'Error: ID is invalid'">Country Likeness:</span> {{cLike}}<br>
                <span *ngIf="cLoc != 'Error: ID is invalid'">Location:</span> {{cLoc}}<br>
                <button (click)="deleteCountry(idC)" class="delete" *ngIf="booleanC">Delete</button>
            </td>
            <td *ngIf="!booleanC"></td>

            <td *ngIf="booleanF">
                <span *ngIf="fName != 'Error: ID is invalid'">Food Name:</span> {{fName}}<br>
                <span *ngIf="fPrice != 'Error: ID is invalid'">Food Price:</span> {{fPrice}}<br>
                <span *ngIf="fIN != 'Error: ID is invalid'">Ingredient Name:</span> {{fIN}}<br>
                <span *ngIf="fLoc != 'Error: ID is invalid'">Location:</span> {{fLoc}}<br>
                <button (click)="deleteFood(idF)" *ngIf="booleanF" class="delete">Delete</button>
            </td>
            <td *ngIf="!booleanF"></td>

            <td *ngIf="booleanI">
                <span *ngIf="iName != 'Error: ID is invalid'">Ingredient Name:</span> {{iName}}<br>
                <span *ngIf="iPrice != 'Error: ID is invalid'">Ingredient Price:</span> {{iPrice}}<br>
                <span *ngIf="iDeet != 'Error: ID is invalid'">Ingredient Details:</span> {{iDeet}}<br>
                <span *ngIf="iLoc != 'Error: ID is invalid'">Location:</span> {{iLoc}}<br>
                <button (click)="deleteIngredient(idI)" class="delete" *ngIf="booleanI">Delete</button>
            </td>
            <td *ngIf="!booleanI"></td>

        </tr>
        <tr>
            <td *ngIf="booleanC">
                <span *ngIf="responseC != undefined">{{responseC}}</span>
            </td>
            <td *ngIf="!booleanC"></td>

            <td *ngIf="booleanF">
                <span *ngIf="responseF != undefined">{{responseF}}</span>
            </td>
            <td *ngIf="!booleanF"></td>

            <td *ngIf="booleanI">
                <span *ngIf="responseI != undefined">{{responseI}}</span>
            </td>
            <td *ngIf="!booleanI"></td>

        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-12 text-center">
        <a routerLink="/read" role="button" class="cancel">Cancel</a>
    </div>
</div>

</div>